<div class="" ng-controller="PanierCtrl">
<!-- s'inscrire | se connecter / se déconnecter" : *************************************************** -->
  <input type="hidden" ng-model="connect" />
  <div class="showConnexion"   ng-show="connect==false" ng-mouseover="statutconnexion()">
    <div class="bordure cadreConn" >
      <a  title="s'inscrire...ou se connecter"  href="#/connexion" ng-click="modifPanier()" ><button type="button" class="btn-darkblue connecter"  ng-click="">S'inscrire</button></a>
    </div>
    <div class="bordure cadreConn"  >
      <a  title="Se connecter.. ou s'inscrire"  href="#/connexion" ng-click="modifPanier()" ><button type="button" class="btn-darkblue connecter"  ng-click="">Se connecter</button></a>
    </div>
  </div>
  <div  class="showConnexion"  ng-show="connect==true" ng-mouseover="statutconnexion()" >
    <div class="bordure cadreConn2"  >
      <button type="button" class="btn-darkblue connecter"  ng-click="deconnexion()">Se déconnecter</button>
    </div>
  </div>

  <!-- Echelle de progression dans la commande ******* -->
  <div ng-show="frport<0 || connect!=true || adress!=true ">
    <h1 >Récapitulatif du panier de commande</h1>
  </div>
  <input type="hidden" ng-model="numCommde" />
  <div ng-show="connect==true && adress==true && frport>=0" >
    <h1 >Bon de commande N°<span >{{numCommde}}</span></h1>
  </div>
  <section ng-mouseover="statutconnexion(); statutadresse(); statutlivraison(); ">
    <div>
      <ul id="order_step" class="step clearfix">
        <li class="step_current first">
          <span><em>01.</em>Récapitulatif</span>
        </li>

        <a  title="Se connecter"  href="#/connexion" ng-click="modifPanier()" ng-show="connect==false"><li class="step_todo second"  >
          <span><em>02.</em>Connexion</span>
        </li></a>
        <li class="step_current second decal-G" ng-show="connect==true">
          <span><em>02.</em>Connexion</span>
        </li>

        <li class="step_todo third" ng-show="connect==false && adress==false || connect==false && adress==true">
          <span><em>03.</em>Adresse</span>
        </li>
        <a title="Rentrer une adresse"  href="#/adresse" ng-click="modifPanier()" ng-show="connect==true && adress==false"  ><li class="step_todo third" >
          <span><em>03.</em>Adresse</span>
        </li></a>
        <li class="step_current third decal-G" ng-show="connect==true && adress==true">
          <span><em>03.</em>Adresse</span>
        </li>

        <li class="step_todo four" ng-show="connect==true && adress==false || connect==false" >
          <span><em>04.</em>Livraison</span>
        </li>
        <a title="Modalités de livraison"  href="#/livraison" ng-click="modifPanier()" ng-show="connect==true && adress==true && frport<0" ><li class="step_todo third" style="" >
          <span><em>04.</em>Livraison</span>
        </li></a> 
        <li class="step_current four decal-G" ng-show="connect==true && adress==true && frport>=0" >
          <span><em>04.</em>Livraison</span>
        </li>       
        <li id="step_end" class="step_todo last" ng-show="connect==false || connect==true && adress==false || connect==true && adress==true && frport<0" >
          <span><em>05.</em>Paiement</span>
        </li>
        <a title="Paiement de la commande"  href="#/paiement/{{total}}" ng-click="modifPanier2()" ng-show=" connect==true && adress==true && frport>=0 && paye==false"><li id="step_end" class="step_todo last">
          <span><em>05.</em>Paiement</span>
        </li></a>  
        <li class="step_current last decal-G" ng-show="paye==true"  >
          <span><em>05.</em>Paiement</span>
        </li>                
      </ul>
    </div>
  </section>
  <section id="" class="sectn bordure" >
  <!-- En-tête : ************************************** -->
    <div ng-show="connect==true" class="row" >
      <div class="col-xs-9 col-sm-5 col-md-3 bordure" >
        <div class="row " ng-show="adress==true" >
           <div class="col-md-12" >
            <span style="font-size:1,2em">Adresse de facturation :</span>
           </div>
        </div>  
        <div class="row " >
           <div class="col-md-12" >
            <span style="font-size:0.9em">{{titre+' '}}</span><span style="font-size:1em">{{prenom+' '}}{{nom}}</span>
           </div>
        </div>  
        <div class="row " ng-show="adress==true" >
          <div class="col-md-12" >
             {{no+' '}}{{rue}}
           </div>
          <div class="col-md-12" ng-show="complt!=''" >
             {{complt}}
          </div>
          <div class="col-md-12" >
             {{cp+' '}}{{ville}}
          </div>
          <div class="col-md-12" ng-show="pays!='France'">
             {{pays}}
          </div> 
          <div class="col-md-12" >
             {{tel}}
          </div>     
        </div> 
      </div>
      <div class="col-xs-9 col-sm-offset-2 col-sm-5 col-md-offset-6 col-md-3 bordure" ng-show="frport>=0" >
        <div class="row "  >
           <div class="col-md-12" >
            <span style="font-size:1,2em">Adresse de livraison :</span>
           </div>
        </div>  
        <div class="row " >
           <div class="col-md-12" >
            <span style="font-size:0.9em">{{titrel+' '}}</span><span style="font-size:1em">{{prenoml+' '}}{{noml}}</span>
           </div>
        </div>  
        <div class="row "  >
          <div class="col-md-12" >
             {{nol+' '}}{{ruel}}
           </div>
          <div class="col-md-12"  >
             {{compltl}}
          </div>
          <div class="col-md-12" >
             {{cpl+' '}}{{villel}}
          </div>
          <div class="col-md-12" ng-show="paysl!='France'">
             {{paysl}}
          </div> 
          <div class="col-md-12" >
             {{tell}}
          </div>     
        </div> 
      </div>
    </div>

  <!-- Tableau des articles du panier : *************** -->
    <legend class="legend">Articles dans le panier : </legend>
      <!--<span>{{kon}}</span><span>{{adrs}}</span> -->

    <div class="row " >
      <div class="col-md-7 bordure" ng-show="innerW>995"  >
      Articles :
      </div>
      <div class="col-md-2 bordure" ng-show="innerW>995"  >>
      Quantité :
      </div>
      <div class="col-md-1 bordure" ng-show="innerW>995"  > >
      Prix :
      </div> 
      <div class="col-md-1 bordure" style="padding-left:1px" ng-show="innerW>995"  >>
      Total :
      </div> 
      <div class="col-md-1 bordure" style="padding-left:1px; font-size:0.9em;"  ng-show="innerW>995"  >>
      Suppr.
      </div> 
    </div> 

    <div ng-repeat="p in paniers" class="row bordure" >
      <div class="col-md-1 bordverti" style="background-color:#111" >
        <div class="row">
          <div class="col-xs-4 " ng-show="innerW<995"> &nbsp;
          </div>
          <div class="col-xs-8">
          <img ng-src="{{p.urlimg}}" style="height:50px; margin-left:-10px;" />
          </div>
        </div>
      </div>
      <div class="col-md-4 bordverti" >
        <div class="row">
          <div class="col-xs-4 bordure" ng-show="innerW<995"> Article :
          </div>
          <div class="col-xs-8">
          <h5 > {{p.nom}}</h5>
         </div>
        </div> 
      </div>
      <div class="col-md-2 bordverti" >  
        <div class="row">
          <div class="col-xs-4 bordure" ng-show="innerW<995"> Taille :
          </div>
          <div class="col-xs-8">      
          <h5 >{{p.taille}}</h5>
        </div>
        </div>
      </div>
      <div class="col-md-2 bordverti" > 
        <div class="row">
          <div class="col-xs-4 bordure" ng-show="innerW<995"> Quantité :
          </div>
          <div class="col-xs-8">     
        <input type="number" min="0" class="input-70 decal-v"  ng-model="p.Qte" ng-change="actualise(); annulLivraison();" />
        </div>
        </div>
      </div>
      <div class="col-md-1 bordverti">
        <div class="row">
          <div class="col-xs-4 bordure" ng-show="innerW<995"> Prix :
          </div>
          <div class="col-xs-8" style="min-width:100px">
        <h5>{{p.prix}} €</h5> 
        </div>
        </div>
      </div>           
      <div class="col-md-1 bordverti"> 
        <div class="row">
          <div class="col-xs-4 bordure"  ng-show="innerW<995"> Total :
          </div>
          <div class="col-xs-8" style="padding-left:1px;min-width:110px" >
        <h5>{{Math.round(p.Qte*p.prix*100)/100}} €</h5> 
        </div>
        </div>
      </div> 
      <div class="col-md-1 bordverti" >
        <div class="row">
          <div class="col-xs-4 bordure"  ng-show="innerW<995" ><span > Supprimer :</span>
          </div>
          <div class="col-xs-8">
        <button type="button" class="btn-plus btn-plus-pos2"  title="Supprimer l'article" ng-click="deleteProd($index); annulLivraison();">  X
        </button>
        </div>
        </div>
      </div>
      <hr/> 
    </div>

  <!-- Frais de port : ****************************** -->
    <div ng-show="connect==true && adress==true && frport>=0" >
      <div class="row bordure">
        <div class="col-md-5 " >
          <h5>Sous-total TTC : </h5>
        </div>
        <div class="col-md-3" > &nbsp; </div>
        <div class="col-md-2" > &nbsp; </div> 
        <div class="col-md-2 bordverti" >
          <h5> {{getSsTotal()}}€ </h5>     
        </div>   
      </div>
      <div class="row bordure">
        <div class="col-md-5 " >
          <h5>Frais de port : 
          <span ng-show="modpost==1">&nbsp;(Envoi par Mondial-Relay)</span>
          <span ng-show="modpost==2">&nbsp;(Envoi en Colissimo par la poste)</span>
          <span ng-show="modpost==3">&nbsp;(Envoi en Lettre-Suivie par la poste)</span>
          </h5>
        </div>
        <div class="col-md-3" > &nbsp; </div>
        <div class="col-md-2" > &nbsp; </div> 
        <div class="col-md-2 bordverti" >
          <h5 ng-show="frport>0">{{frport+' '}}€</h5>
          <h5 ng-show="frport==0"><em>Offerts</em></h5>
        </div>  
      </div>
    </div>

  <!-- Total : ************************************** -->
    <div class="row bordure" >
      <div class="col-md-5 " >
        <h4>Total :</h4>
      </div>
      <div class="col-md-3" > &nbsp; </div>
      <div class="col-md-2" > &nbsp; </div> 
      <div class="col-md-2 bordverti" >
        <h4>{{getTotal()+' '}}€</h4>
      </div>  
    </div>
    <div class="row bordure" >
      <div class="col-md-offset-8 col-md-4 " >
      dont TVA : {{Math.round(getTotal()/1.20*0.2*100)/100+' '}} € et HT : {{Math.round(getTotal()/1.20*100)/100+' '}} €
      </div>  
    </div>  
    <div>&nbsp;</div>
    <p ng-show="frport==-1" style="color:#335">Vos frais de ports seront calculés à l'étape suivante, au moment du choix du mode de livraison.</p>
    <p ng-show="frport==-1" style="color:red">Les frais de port sont offerts en France Métropolitaine à partir de 30€ d'achat</p>

  <!-- Boutons directionnels : ********************** -->
    <div class="row"  >
      <center>
      <a class="glyphicon glyphicon-plus btn-eye" title="valider et revenir à la boutique"  href="#/boutique"><button type="button" class="btn btn-info "  ng-click="modifPanier()" >Continuer mes achats</button></a>

      <a class="glyphicon glyphicon-euro btn-eye" title="Se connecter"  href="#/connexion" ng-show="connect==false" ng-mouseover="statutconnexion()" >
      <button type="button" class="btn btn-success "  ng-click="modifPanier()" >Continuer commande</button></a>

      <a class="glyphicon glyphicon-euro btn-eye" title="Rentrer une adresse"  href="#/adresse" ng-show="connect==true && adress==false">
      <button type="button" class="btn btn-success "  ng-click="modifPanier()" >Continuer commande</button></a>

      <a class="glyphicon glyphicon-euro btn-eye" title="Rentrer les conditions de livraison"  href="#/livraison" ng-show="connect==true  && adress==true && frport<0">
      <button type="button" class="btn btn-success "  ng-click="modifPanier()" >Continuer commande</button></a>

      <!--<input type="hidden" ng-model="total" />-->
      <a class="glyphicon glyphicon-euro btn-eye" title="Règlement de la commande"  ng-href="#/paiement/{{total}}" ng-show="connect==true  && adress==true && frport>=0">
      <button type="button" class="btn btn-success "  ng-click="modifPanier()" >Continuer commande</button></a>

       <a class="glyphicon glyphicon-remove btn-mult2" title="remise à zéro et retour à la boutique"  href="#/boutique">
        <button type="button" class="btn btn-warning "  ng-click="deletePanier()" >Tout supprimer</button></a>
      </center>
    </div>
      
  </section>  

  <!-- Boîte dialogue vers connexion : ****************************************************-->
  <div ng-show="showAlerte==true">
    <div class="layer_cart_overlay" ></div>
    <div class="layer_cart" >
      <div class="layer_cart_product">

        <div class="row">
            <div class="col-xs-12  bordure" >
              <h4 class="connexion">CONNEXION RÉUSSIE</h4>
            </div>
        </div>         
        <div class="row">    
          <div class="col-xs-12 ">
            <center>               
             <button type="button" class="seConnect" ng-click="statutconnexion();  " title="Vers le module d'inscription" >OK</button>               
            </center>
          </div>
        </div>  
        <div style="height:40px">&nbsp;</div>

      </div>
    </div >
  </div >
        <!-- fin boîte dialogue vers connexion / inscription -->
</div>